{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="card2">
        <header>
            <h1>Log In with an Existing Account</h1>
        </header>

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn2 w-50">Log in</button>
            </div>
        </form>

        <p class="text-center mt-3">
            You don't have an account? <a href="{% url 'signup' %}" class="text-decoration-none">Sign up here</a>
        </p>
    </div>
</div>
{% endblock %}

