{% extends "base.html" %}

{% block content %}
<div class="container">
    <header class="section">
        <h1 class="signup-title">Página Privada de la Clínica</h1>
        <p>Panel Administrativo</p>
    </header>

    <div class="grid">
        <a href="{% url 'mock' %}" class="card-link">
          <div class="card">
            <h3>Actualizar Servicios</h3>
            <p>...mock...</p>
          </div>
        </a>

        <a href="{% url 'mock' %}" class="card-link">
          <div class="card">
            <h3>Validar Facturas</h3>
            <p>...mock...</p>
          </div>
        </a>

    </div>

    {% if appointment %}
    <script>
        var message = 'Cita reservada correctamente para {{ appointment.service.name }}\n\n' +
            'Duración: {{ appointment.service.duration }} minutos\n' +
            'Precio: {{ appointment.service.price }}€\n' +
            'Mutua: {{ appointment.insurance|yesno:"Sí,No" }}';
        alert(message);
    </script>
    {% endif %}
</div>
{% endblock %}




